body {
	background-color: black;
	color: white;
	font-family: calibri;
}

.datosMecanicos {
	background-color: rgb(0, 13, 38);
	width: 40%;
	margin: auto;
	border: 1px solid rgb(80, 1, 132);
	box-shadow: 0px 10px 600px 80px rgb(0, 22, 89);
	padding: 3px;
	border-radius: 8px;
}

.nombres {
	margin-left: 18%;
}

.apellidos {
	margin-left: 18%;
}

.btn {
	margin: 10px 95px;
	font-size: 20px;
	width: 65%;
}

.select {
	margin-left: 18%;
}


.documento {
	margin-left: 18%;
}

.direcciones {
	margin-left: 18%;
}

.asigacionMecanicos {

	background-color:rgb(0, 13, 38);;
	width: 40%;
	margin: auto;
	border: 1px solid rgb(80, 1, 132);
	box-shadow: 0px 10px 600px 80px rgb(0, 22, 89);
	padding: 3px;
	border-radius: 8px;
}

#autor {
	font-size: 12px;
}
.horasTrabajadas{
	margin-left: 18%;		
}

#error{
	color: rgb(255, 216, 0  );
	
}
.horas{
	margin-left: 18%;
}

